<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>HomePage</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">Continente</a>
		<!--  <a class="navbar-brand"href="/stato">Index</a> -->
	</nav>

	<main role="main" class="container">

	<div class="starter-template">
		<h1>Welcome in the homepage</h1>
		<h2>
			<span
				th:text="'Benvenuto nella pagina per inserire le città, ' + ${message}"></span>
		</h2>
	</div>

	<div>
	<form th:action="@{/continente}" method="GET">
			<select>
				<option th:each="i : ${continenti}" th:value="${i}" th:text="${i}">
				</option>
			</select> <input type="submit" value="Invia" />
	 </form>  
	</div>


	</main>
	

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>